@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #eee;
    text-align: center;
}

/* LAYOUT */
main {
    height: 65vh;
    color: #222;
    align-items: center;
    font-size: 1.5rem;
}


/* ELEMENTS STYLE */
h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}


.between {
    font-size: 1.4rem;
    margin-top: 2rem;
}

.again {
    margin-top: 1.5rem;
}

.guess {
    background: none;
    border: 4px solid #222;
    font-family: inherit;
    color: inherit;
    font-size: 3rem;
    padding: 1.3rem;
    width: 20rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin:2rem auto;
}

.btn {
    border-radius: 1rem;
    background-color: #222;
    color: #eee;
    font-size: 1.3rem;
    font-family: inherit;
    padding: 1.8rem 3rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.btn:hover {
    background-color: rgb(173, 151, 151);
}

.message {
    margin: 1rem auto;
    height: 3rem;
}

.label-score {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    h1{
        margin-top: 1.2rem;
    }
    .message{
        margin: 0 auto 1rem;
    }
    main{
        font-size: 1.2rem;
    }
}